h1{
    padding-left: 45%;
font-family: "Segoe Script";
    color: darkgray;
}
h2{
    font-family: "Segoe Script";
    margin-left: 75%;
    color: darkgray;

}
img {

    margin-top: -40%;

}
body{
    background: #232323;
}